In [13]:
import nltk

In [14]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Devan\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [15]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [16]:
# creating object of SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [17]:
import pandas as pd

In [18]:
# loading csv file.
df = pd.read_csv('dwevan_tweets at_2022-01-03.csv',)

In [19]:
df.head()

,id,label,created_at,text
0,1460294399435362313,neg,2021-11-15 17:11:30+00:00,@henryellison30 @MisterABK @AliPlumb -_- I hat...
1,1393853503257432066,neg,2021-05-16 08:59:06+00:00,@EviPoimenidi @chebbes Is this a kind of thing...
2,1329198156849029127,pos,2020-11-18 23:01:50+00:00,@henlog1990 It’s the ‘Donald trump is a genius...
3,1230034860292628480,neg,2020-02-19 07:42:18+00:00,"@UKANRO hi, I’m having issues getting to the a..."
4,976075557975797761,neu,2018-03-20 12:38:42+00:00,Neater version https://t.co/1ic9GUD4Pg

In [20]:
df['label'].value_counts()

neg    8
pos    8
neu    6
Name: label, dtype: int64

In [21]:
# removing NA values from data frame
df.dropna(inplace=True)

In [23]:
# collecting blank reviews from data frame
blanks = []
for i,lb,rv in df.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

ValueError: too many values to unpack (expected 3)

In [24]:
blanks

[]

In [25]:
sid.polarity_scores(df.iloc[0]['text'])

{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'compound': -0.5719}

In [26]:
df['scores'] = df['text'].apply(lambda review:sid.polarity_scores(review))

In [27]:
df.head()

,id,label,created_at,text,scores
0,1460294399435362313,neg,2021-11-15 17:11:30+00:00,@henryellison30 @MisterABK @AliPlumb -_- I hat...,"{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'comp..."
1,1393853503257432066,neg,2021-05-16 08:59:06+00:00,@EviPoimenidi @chebbes Is this a kind of thing...,"{'neg': 0.0, 'neu': 0.94, 'pos': 0.06, 'compou..."
2,1329198156849029127,pos,2020-11-18 23:01:50+00:00,@henlog1990 It’s the ‘Donald trump is a genius...,"{'neg': 0.0, 'neu': 0.837, 'pos': 0.163, 'comp..."
3,1230034860292628480,neg,2020-02-19 07:42:18+00:00,"@UKANRO hi, I’m having issues getting to the a...","{'neg': 0.094, 'neu': 0.906, 'pos': 0.0, 'comp..."
4,976075557975797761,neu,2018-03-20 12:38:42+00:00,Neater version https://t.co/1ic9GUD4Pg,"{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound..."

In [28]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [29]:
df.head()

,id,label,created_at,text,scores,compound
0,1460294399435362313,neg,2021-11-15 17:11:30+00:00,@henryellison30 @MisterABK @AliPlumb -_- I hat...,"{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'comp...",-0.5719
1,1393853503257432066,neg,2021-05-16 08:59:06+00:00,@EviPoimenidi @chebbes Is this a kind of thing...,"{'neg': 0.0, 'neu': 0.94, 'pos': 0.06, 'compou...",0.3204
2,1329198156849029127,pos,2020-11-18 23:01:50+00:00,@henlog1990 It’s the ‘Donald trump is a genius...,"{'neg': 0.0, 'neu': 0.837, 'pos': 0.163, 'comp...",0.5106
3,1230034860292628480,neg,2020-02-19 07:42:18+00:00,"@UKANRO hi, I’m having issues getting to the a...","{'neg': 0.094, 'neu': 0.906, 'pos': 0.0, 'comp...",-0.3400
4,976075557975797761,neu,2018-03-20 12:38:42+00:00,Neater version https://t.co/1ic9GUD4Pg,"{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound...",0.2500

In [30]:
df['score'] = df['compound'].apply(lambda score: 'pos' if score >=0 else 'neg')

In [31]:
df.head()

,id,label,created_at,text,scores,compound,score
0,1460294399435362313,neg,2021-11-15 17:11:30+00:00,@henryellison30 @MisterABK @AliPlumb -_- I hat...,"{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'comp...",-0.5719,neg
1,1393853503257432066,neg,2021-05-16 08:59:06+00:00,@EviPoimenidi @chebbes Is this a kind of thing...,"{'neg': 0.0, 'neu': 0.94, 'pos': 0.06, 'compou...",0.3204,pos
2,1329198156849029127,pos,2020-11-18 23:01:50+00:00,@henlog1990 It’s the ‘Donald trump is a genius...,"{'neg': 0.0, 'neu': 0.837, 'pos': 0.163, 'comp...",0.5106,pos
3,1230034860292628480,neg,2020-02-19 07:42:18+00:00,"@UKANRO hi, I’m having issues getting to the a...","{'neg': 0.094, 'neu': 0.906, 'pos': 0.0, 'comp...",-0.3400,neg
4,976075557975797761,neu,2018-03-20 12:38:42+00:00,Neater version https://t.co/1ic9GUD4Pg,"{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound...",0.2500,pos

In [32]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [33]:
accuracy_score(df['label'],df['score'])

0.5909090909090909

In [35]:
print(classification_report(df['label'],df['score']))

              precision    recall  f1-score   support

         neg       1.00      0.62      0.77         8
         neu       0.00      0.00      0.00         6
         pos       0.47      1.00      0.64         8

    accuracy                           0.59        22
   macro avg       0.49      0.54      0.47        22
weighted avg       0.53      0.59      0.51        22

C:\Users\Devan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Devan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Devan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [36]:
print(confusion_matrix(df['label'],df['score']))

[[5 0 3]
 [0 0 6]
 [0 0 8]]